@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgb(95, 0, 124)0%,
            rgb(120, 0, 136)40%,
            rgb(195, 0, 221)80%,
            rgb(191, 0, 216))100%;
}


.presentation h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5px;
    right: 50%;
    height: 20vh;
    font-size: 40px;
    font-weight: 800;
    content: "Divirta-se com o JOGO-DA-VELHA";
    background: linear-gradient(90deg, rgba(78, 0, 102, 0.767),
            rgba(195, 0, 221), rgb(191, 0, 216), rgb(225, 0, 191));
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
    opacity: 0;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    25% {
        background-position: 50%;
        opacity: 0.5;
    }

    50% {
        background-position: 100%;
        opacity: 1;
    }

    75% {
        background-position: 150%;
        opacity: 1;
    }

    100% {
        background-position: 200%;
        opacity:0 ;
    }
}



.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 65%;
    width: 100%;
    justify-content: center;
    align-content: center;

}

.board.X .cell:not(.X):not(.O):hover::after,
.board.X .cell:not(.X):not(.O):hover::before,
.board.O .cell:not(.X):not(.O):hover::after,
.board.O .cell:not(.X):not(.O):hover::before {
    opacity: 0.2;
}

.cell {
    width: 100px;
    border: 2px solid #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cell.X,
.cell.O {
    cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

/* cell X */
.cell.X::before,
.cell.X::after,
.board.X .cell:not(.X):not(.O):hover::after,
.board.X .cell:not(.X):not(.O):hover::before {
    content: "";
    width: 100px;
    height: calc(100px * 0.15);
    background: white;
    position: absolute;
}

.cell.X::before,
.board.X .cell:not(.X):not(.O):hover::before {
    transform: rotate(45deg);
}

.cell.X::after,
.board.X .cell:not(.X):not(.O):hover::after {
    transform: rotate(-45deg);
}

/* circle */
.cell.O::before,
.cell.O::after,
.board.O .cell:not(.X):not(.O):hover::after,
.board.O .cell:not(.X):not(.O):hover::before {
    content: "";
    width: calc(100px * 0.9);
    height: calc(100px * 0.9);
    background: white;
    position: absolute;
    border-radius: 50%;
}

/* .cell.O::before,
.board.cell.O .cell:not(.X):not(.O):hover::before {
    transform: rotate(45deg);
}

.cell.O::after,
.board.O .cell:not(.X):not(.O):hover::after {
    transform: rotate(-45deg);
}
 */
.winningMessage {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}

.winningMessage button {
    font-size: 2rem;
    background: linear-gradient(135deg, rgb(95, 0, 124)0%,
            rgb(120, 0, 136)40%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 16px;
    color: #fff;
    padding: 10px 15px;
}

.winningMessage button:hover {
    color: rgb(120, 0, 136);
    background: #fff;
}

.winningMessageText {
    color: #fff;
    font-size: 3rem;
    user-select: none;
}

.show-winning-message {
    display: flex;
}