/*edição geral*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(180deg, #594cee 0%, #8dd0f5 100%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.city-input::placeholder {
    color: #f82500;
}

.hide {
    display: none !important;
}

.container {
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, 0.5)0 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

/*formulario*/
.form h3 {
    margin: 0 25px 35px 40px;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
    outline-color: #8dd0f5;
}

.form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: #fdfdfd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* clima */
#weather-data,
#error-message,
#loader {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

.weatherIcon {
    margin-left: 5px;
    width: 30px;
}

#weather-data img {
    max-width: 40px;
}
#weather-data span{
    margin: 0 10px 0 10px;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data #temperature span {
    margin: 2rem 0.2rem 2rem 0;
    font-weight: 600;
    font-size: 18px;
}

#country {
    height: 25px;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#description {
    font-weight: bold;
    text-transform: capitalize;
}

.details-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-content #humidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
    font-weight: 500;
}

.details-content #wind {
    font-weight: 500;
}

/* #loader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -20px;
} */
#loader i {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/*  ------------selected cityies------------- */
#suggestions {
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
}

.selected-box {
    max-width: 20rem;
}

.selected-box h3 {
    display: flex;
    width: 20rem;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

.selected p {
    font-weight: 500;
}

.selected {
    background: #594cee;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #f5f6fa;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2)6px 6px 6px;
    padding: 10px;
    order: 1;
}


.selected-box .options-container {
    padding: 10px;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.3)5px 5px 10px;
    background-color: #594cee;

    order: 0;
}

.seta{
    content: "";
    background: url("Arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    font-size: 20px;
    width: 50px;
    right: -15px;
    top: 5%;

    transition: all 0.4s;
}
.ativa{
    transform: rotateX(180deg);
}
.selected-box .options-container.active {
    border-radius: 8px;
    max-height: 240px;
    width: 100%;
    overflow-y: scroll;
    opacity: 1;
}

.selected-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #594cee;
    border-radius: 0 8px 8px 0;
}

.selected-box .options-container::-webkit-scrollbar-thumb {
    width: 8px;
    background: #8dd0f5;
    border-radius: 8px;
}

.selected-box .option,
.selected-box {
    margin-bottom: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

.selected-box .option:hover {
    background: #5a52ff;
}

.selected-box .option .rad {
    display: none;
}

.selected-box .option button {
    max-width: 200px;
    padding: 10px 300px 10px 10px;
    background: transparent;
    border: none;
    color: #f5f6fa;
    font-weight: 700;
    font-size: 16px;
}

@media screen and (max-width: 320px) {
    .container {
        background-color: #5c54ed;
        box-shadow: rgba(0, 0, 0, 0.5)0 3px 8px;
        padding: 1rem;
        max-width: 250px;
        color: #fdfdfd;
        border-radius: 1rem;
    }
    .form {
        margin: 5px;
    }
    .form h3 {
        font-size: 16px;
        padding: 0px;
        margin: 0;
    }
    
    .form-input-container {
        justify-content: center;
    }
    
    .form input {
        padding: 10px;
        margin-top: 10px;
        max-width: 150px;
    }
    
    .form button {
        margin-top: 10px;
        padding: 0.2rem 0rem 0.2rem 0rem ;
        min-width: 50px;
    }
    .selected {
        margin-bottom: 0;
        padding: 8px;
    }
    .selected-box {
        width: 14rem;
        margin-bottom: 0;
    }
    
    .selected-box h3 {
        width: 13rem;
    }
    .selected-box h3 {
        font-size: 16px;
        margin-bottom: 2px;
        flex-direction: column;
    }
    
    .selected p {
        font-size: 13px;
        font-weight: 600;
    }
    .selected span{
        width: 40px;
    }
    .selected-box .option button {
        padding: 1px 300px 1px 10px;
        font-weight: 700;
        font-size: 14px;
    }
    #weather-data,
#error-message,
#loader {
    border-top: 1px solid #fff;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
}
}
@media screen and (max-width: 375px) {
    .container {
        background-color: #5c54ed;
        box-shadow: rgba(0, 0, 0, 0.5)0 3px 8px;
        padding: 1rem;
        max-width: 250px;
        color: #fdfdfd;
        border-radius: 1rem;
    }
    .form {
        margin: 5px;
    }
    .form h3 {
        font-size: 16px;
        padding: 0px;
        margin: 0;
    }
    
    .form-input-container {
        justify-content: center;
    }
    
    .form input {
        padding: 10px;
        margin-top: 10px;
        max-width: 150px;
    }
    
    .form button {
        margin-top: 10px;
        padding: 0.2rem 0rem 0.2rem 0rem ;
        min-width: 50px;
    }
    .selected {
        margin-bottom: 0;
        padding: 8px;
    }
    .selected-box {
        width: 14rem;
        margin-bottom: 0;
    }
    
    .selected-box h3 {
        width: 13rem;
    }
    .selected-box h3 {
        font-size: 16px;
        margin-bottom: 2px;
        flex-direction: column;
    }
    
    .selected p {
        font-size: 13px;
        font-weight: 600;
    }
    .selected span{
        width: 40px;
    }
    .selected-box .option button {
        padding: 1px 300px 1px 10px;
        font-weight: 700;
        font-size: 14px;
    }
    #weather-data,
#error-message,
#loader {
    border-top: 1px solid #fff;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
}
}